<form 
    class="container
        d-flex 
        flex-column 
        flex-md-row 
        justify-content-around 
        align-items-around
        align-items-md-center 
        gap-2"
    [formGroup]="ingresoForm"
    >
    <div>
        <select 
            name="tipoOperacion"
            aria-label="Selección de tipo ingreo/egreso"
            class="form-select bg-primary"
            [class]="{
                'bg-success': (ingresoForm.value.tipo === 'ingreso'),
                'bg-danger': (ingresoForm.value.tipo === 'egreso')
            }"
            formControlName="tipo"
        >
            <option value="" disabled>Tipo</option>
            <option value="ingreso" class="bg-success">Ingreso</option>
            <option value="egreso" class="bg-danger">Egreso</option>
        </select>    
    </div>
    <div class="form-floating">
        <input 
            type="text" 
            class="form-control" 
            id="producto" 
            placeholder="producto" 
            formControlName="producto"
            [class]="selectClass" 
            [ngClass]="{
                'is-valid': (ingresoForm.get('producto')?.valid && ingresoForm.get('producto')?.touched),
                'is-invalid': (!ingresoForm.get('producto')?.valid && ingresoForm.get('producto')?.touched)
            }"
        >
        <label for="producto">Producto</label>
        <div class="invalid-feedback">
            El campo de producto debe ser completo
        </div>
    </div>
    <div class="form-floating">
        <input 
            type="number" 
            class="form-control" 
            id="valor" 
            placeholder="Valor" 
            formControlName="valor"
            [class]="selectClass" 
            [ngClass]="{
                'is-valid': (ingresoForm.get('valor')?.valid && ingresoForm.get('valor')?.touched),
                'is-invalid': (!ingresoForm.get('valor')?.valid && ingresoForm.get('valor')?.touched)
            }"
        >
        <label for="valor">Valor</label>
        <div class="invalid-feedback">
            El campo de valor debe ser completo
        </div>
    </div>
    <button class="btn btn-primary" [disabled]="!ingresoForm.valid" (click)="agregarNuevo()">Agregar</button>
</form>
